In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

In [9]:
raw_data = pd.DataFrame(pd.read_csv('/Users/patrickrunciman/Desktop/pythonProjects/Data/teams.csv', thousands = ','))

1290

In [10]:
raw_data["Team"] = raw_data["Team"].str.rstrip("*")
drop_columns = ["Unnamed: 0", "\xa0", "\xa0.1", "\xa0.2"]
raw_data = raw_data.drop(columns=drop_columns)

In [11]:
filtered = raw_data[['Team', 'Age', 'W', 'L', 'PW', 'PL', 'MOV', 'SOS', 'SRS', 'ORtg', 'DRtg', 'NRtg', 'Pace',
'FTr', '3PAr', 'TS%', "eFG%", 'TOV%', 'ORB%', "FT/FGA", 'eFG%.1', 'TOV%.1', 'DRB%', 'FT/FGA.1',"Arena", "Attend.", "Attend./G", 'Year']]

filtered.head()

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Arena,Attend.,Attend./G,Year
0,Portland Trail Blazers,24.5,49,33,55,27,5.59,-0.20,5.39,103.2,...,33.4,0.254,0.460,17.2,69.3,0.255,Memorial Coliseum,NaN,NaN,1977
1,Denver Nuggets,27.3,50,32,54,28,5.22,-0.27,4.95,100.7,...,34.2,0.275,0.463,18.2,68.0,0.211,McNichols Sports Arena,NaN,NaN,1977
2,Philadelphia 76ers,25.6,50,32,51,31,3.94,-0.16,3.78,101.2,...,34.6,0.275,0.451,16.7,66.0,0.197,The Spectrum,NaN,NaN,1977
3,Golden State Warriors,25.8,46,36,49,33,3.22,-0.12,3.10,102.4,...,33.0,0.211,0.470,17.2,67.8,0.224,Oakland-Alameda County Coliseum Arena,NaN,NaN,1977
4,Los Angeles Lakers,27.2,53,29,48,34,2.72,-0.08,2.64,101.4,...,31.0,0.188,0.452,15.6,66.1,0.194,The Forum,501434.0,NaN,1977

In [12]:
renamed = filtered.rename(mapper={"eFG%.1": "OeFG%", "TOV%.1": "OTOV%", "FT/FGA.1": "OFT/FGA"}, axis='columns')
renamed.head()

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,ORB%,FT/FGA,OeFG%,OTOV%,DRB%,OFT/FGA,Arena,Attend.,Attend./G,Year
0,Portland Trail Blazers,24.5,49,33,55,27,5.59,-0.20,5.39,103.2,...,33.4,0.254,0.460,17.2,69.3,0.255,Memorial Coliseum,NaN,NaN,1977
1,Denver Nuggets,27.3,50,32,54,28,5.22,-0.27,4.95,100.7,...,34.2,0.275,0.463,18.2,68.0,0.211,McNichols Sports Arena,NaN,NaN,1977
2,Philadelphia 76ers,25.6,50,32,51,31,3.94,-0.16,3.78,101.2,...,34.6,0.275,0.451,16.7,66.0,0.197,The Spectrum,NaN,NaN,1977
3,Golden State Warriors,25.8,46,36,49,33,3.22,-0.12,3.10,102.4,...,33.0,0.211,0.470,17.2,67.8,0.224,Oakland-Alameda County Coliseum Arena,NaN,NaN,1977
4,Los Angeles Lakers,27.2,53,29,48,34,2.72,-0.08,2.64,101.4,...,31.0,0.188,0.452,15.6,66.1,0.194,The Forum,501434.0,NaN,1977

In [13]:
renamed.isnull().sum()

Team          0
Age           0
W             0
L             0
PW            0
PL            0
MOV           0
SOS           0
SRS           0
ORtg          0
DRtg          0
NRtg          0
Pace          0
FTr           0
3PAr         66
TS%           0
eFG%          0
TOV%          0
ORB%          0
FT/FGA        0
OeFG%         0
OTOV%         0
DRB%          0
OFT/FGA       0
Arena         7
Attend.      84
Attend./G    76
Year          0
dtype: int64

In [14]:
renamed['3PAr'].fillna(0, inplace=True)

/var/folders/ll/2y5z98pd43bg93s_602lnqr40000gn/T/ipykernel_1284/1791408808.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  renamed['3PAr'].fillna(0, inplace=True)

In [15]:
dropped = renamed.dropna(subset=["Attend.", "Attend./G"], how='all')

dropped['Attend.'] = dropped.apply(
    lambda row: 40 * row['Attend./G'] if pd.isnull(row['Attend.']) else row['Attend.'],
    axis = 1
)

dropped['Attend./G'] = dropped.apply(
    lambda row: row['Attend.'] / 40 if pd.isnull(row['Attend./G']) else row['Attend./G'],
    axis = 1
)

In [16]:
dropped.head()

,Team,Age,W,L,PW,PL,MOV,SOS,SRS,ORtg,...,ORB%,FT/FGA,OeFG%,OTOV%,DRB%,OFT/FGA,Arena,Attend.,Attend./G,Year
4,Los Angeles Lakers,27.2,53,29,48,34,2.72,-0.08,2.64,101.4,...,31.0,0.188,0.452,15.6,66.1,0.194,The Forum,501434.0,12535.850,1977
16,Boston Celtics,28.7,44,38,36,46,-1.98,0.08,-1.90,96.5,...,31.1,0.212,0.450,13.4,72.8,0.204,Boston Garden,517391.0,12934.775,1977
17,New Orleans Jazz,26.1,35,47,33,49,-2.82,0.13,-2.68,97.0,...,31.0,0.222,0.452,15.5,68.2,0.238,Louisiana Superdome,10760.0,269.000,1977
26,Los Angeles Lakers,25.8,45,37,48,34,2.67,-0.08,2.59,103.3,...,30.4,0.205,0.463,15.2,66.0,0.194,The Forum,534017.0,13350.425,1978
30,Cleveland Cavaliers,27.8,43,39,42,40,0.48,-0.04,0.44,99.9,...,29.9,0.204,0.456,14.7,68.8,0.207,Coliseum at Richfield,19080.0,477.000,1978

In [18]:
final = dropped
final = final[final['Year'] != 1999]
final = final[final['Year'] != 2012]
final = final[final['Year'] != 2020]

In [20]:
final.to_csv('/Users/patrickrunciman/Desktop/pythonProjects/Data/cleanedTeams.csv', index=False)

In [21]:
print("Shape of raw data: ", raw_data.shape)
print("Shape of cleaned data: ", final.shape)
rows_lost = len(raw_data.index) - len(final.index)
percentage_lost = round((rows_lost / len(raw_data.index)) * 100, 2)
print(rows_lost, "rows lost")
print(str(percentage_lost) + "% of data lost")

Shape of raw data:  (1290, 28)
Shape of cleaned data:  (1136, 28)
154 rows lost
11.94% of data lost